<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}"></link>

</html>
