<th:block xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

    <div class="row">
        <div class="navbar">
            <div class="col-md-6" style="  margin-left: 80px;">
                <a href="/app/meow">Home</a>
                <a href="/app/meow/registro">Cadastro</a>
                <a href="/app/meow/lista">Lista</a>
            </div>
        </div>
    </div>

</th:block>