<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Página Dinâmica!</title>
    </head>

    <body>
        <h1>Está é uma página dinâmica!</h1>
        <h2>Data: <span th:text="${hora}" style="color: blue;"/></h2>
    </body>

</html>