<th:block
        layout:decorate="~{layout/main}"
        layout:fragment="content"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="box animated rotateIn">
            <div class="row">
                <div class="img-cat"></div>
            </div>
            <div class="box-title animated flash" id="title-animete">
                <h2><blink>Cadastro finalizado com sucesso!</blink></h2>
            </div>
            <div class="row" style="justify-content: center">
                <div style="padding-right: 15px">
                    <button type="submit" class="btn btn-light" onclick="window.location.href='/app/meow'">Voltar para Home</button>
                    <button type="submit" class="btn btn-primary" onclick="window.location.href='/app/meow/registro'">Novo Registro</button>
                </div>
            </div>
        </div>
    </div>

</th:block>