<th:block
        layout:decorate="~{layout/main}"
        layout:fragment="content"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">

    <div class="row">

        <div class="row">
            <div class="intro animated jackInTheBox">
                <h1 style="font-weight: 700;">Introdução ao Thymeleaf</h1>
            </div>
        </div>
    </div>

</th:block>