<th:block
        layout:decorate="~{layout/main}"
        layout:fragment="content"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">

        <div class="row">
            <div class="box">
                <div class="box-title">
                    <h2>Lista de bichanos</h2>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Raça</th>
                        <th scope="col">Cor</th>
                        <th scope="col">Sexo</th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each=" gato : ${gatos} ">
                            <td th:text="${gato.id}"></td>
                            <td th:text="${gato.nome}"></td>
                            <td th:text="${gato.raca.descricao}"></td>
                            <td th:text="${gato.cor}"></td>
                            <td th:text="${gato.sexo}"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

</th:block>