<th:block
        layout:decorate="~{layout/main}"
        layout:fragment="content"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">

    <form action="#" th:action="@{/app/meow/novo}" method="post">
        <div class="row" style="justify-content: left">
            <div class="box animated slideInDown">
                <div class="box-title">
                    <h2> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Novo cadastro do bichano</h2>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="name">Nome: </label>
                            <input class="input-standard" type="text" name="nome" placeholder="Insira o nome do bichano">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="radio-group">
                            <p class="radio-group-title name" style="margin-bottom: 0px;"><b>Sexo:</b></p>
                            <input type="radio" value="F" name="sexo" id="femea-true" checked />
                            <label for="femea-true">Fêmea</label>
                            <input type="radio" value="M" name="sexo" id="femea-false" />
                            <label for="femea-false">Macho</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="raca" class="name">Raça:</label>
                            <div class="select-container" id="raca-gato">
                                <select id="raca" name="raca">
                                    <option value="" selected="selected">Selecione a Raça</option>
                                    <option th:each="racaGato : ${racas}" th:value="${racaGato}" th:text="${racaGato.descricao}" name="raca"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="name">Cor: </label>
                            <input class="input-standard" type="text" name="cor" id="color-cat" placeholder="Qual a cor?">
                        </div>
                    </div>
                </div>
                <div class="row" style="justify-content: flex-end">
                    <div style="padding-right: 15px">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</th:block>