<th:block
        layout:decorate="~{layout/main}"
        layout:fragment="content"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">

        <div class="row">
            <div class="box animated slideInDown">
                <div class="box-title">
                    <h2>Information of <span class="name" th:text="${gatinho.nome}"></span></h2>
                </div>

                <div class="row">
                    <label class="name information-cat">Sexo: </label>
                    <span class="information-cat" th:text="${gatinho.sexo}"/>
                </div>

                <div class="row">
                    <label class="name information-cat">Raça: </label>
                    <span class="information-cat" th:text="${gatinho.raca.descricao}"/>
                </div>

                <div class="row">
                    <label class="name information-cat">Cor: </label>
                    <span class="information-cat" th:text="${gatinho.cor}"/>
                </div>
            </div>
        </div>

</th:block>