.box {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  margin-top: 80px;
  margin-bottom: 80px;
}

.box-title {
  padding: 10px;
  text-align: center;
  color: slateblue;
}

.name {
  color: #333;
}

.information-cat {
  font-size: 20px;
}

.img-cat {
  background-image: url(../img/finalizacao.jpg);
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input[type='text'], select{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid lightgray;
    background-color: white;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 110%;
  display: flex;
  position: fixed;
  z-index: 3;
  height: 33px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

body {
  background-image: url(../img/backgato.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.intro {
    margin-top: 100px;
    font-weight: 700;
    margin-top: 100px;
    color: white;
}
